body{
    background-color: rgb(28, 32, 32);
}



.bodyContainer{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
}


.calculatorBody{
    margin: 10px;
    border-radius: 20px;
    height: 540px;
    width: 340px;
    display: flex;
    /* background-color:aqua; */
    border: black solid 0.2px;
    padding:30px;
    flex-direction: column;
    box-shadow: 12px 12px 2px 1px rgb(219, 127, 7);
    background-color: rgb(231, 179, 134);
}

.calculatorBody .AllButtons{
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    margin: 10px;
}



.restButtons,.equalButton,.clearButton,.deleteButton,.operateButtons{
    height:60px;
    width:60px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(255, 196, 0);
    font-size: large;
}

.clearButton, .deleteButton{
    width: 140px;
    flex-basis: auto;
    color:  rgb(180, 109, 46);
    /* background-color:  rgb(219, 118, 29); */
}

.calculatorBody .display{
    height:90px;
    width:340px;
    border: 0.2px rgb(12, 12, 12) solid;
    border-radius: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow:hidden;
    flex-wrap:wrap;
}




.calculatorBody .display p{
    margin: 5px;
    font-size: 40px;
    color: rgb(182, 96, 21);    
}

.tail p{
    font-size: large;
    color:   rgb(231, 179, 134);
}
